version: '3'
services:
  master:
    image: redis:3
    ports:
      - "6380:6379"
    network_mode: "host"
    environment:
      TZ: Asia/Shanghai
  slave:
    image: redis:3
    ports:
      - "6379"
    network_mode: "host"
    environment:
      TZ: Asia/Shanghai
    command: redis-server --slaveof 172.31.20.15 6380
  sentinel:
    build: 
      context: sentinel
      args:
        HOST_IP: 172.31.20.15
        HOST_PORT: 6380
    ports:
      - "26379"
    network_mode: "host"
    environment:
      SENTINEL_DOWN_AFTER: 5000
      SENTINEL_FAILOVER: 5000
      TZ: Asia/Shanghai

